---
import Base from "@layouts/Base.astro";
import Page from "@layouts/Page.astro";
---

<Base meta_title="About">
  <Page title="About me">
   
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="HORIZONTAL" data-vanity="juanfuentesleon" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://mx.linkedin.com/in/juanfuentesleon?trk=profile-badge">Juan Angel Fuentes León</a></div>
                      
  </Page>
</Base>
