---
// This page intentionally redirects to the static landing page in /web.
// The actual blog listing is available at /blog.
import type { APIRoute } from 'astro';

export const get: APIRoute = async ({ redirect }) => {
  return redirect('/web/index.html', 302);
};

---

<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/web/index.html" />
  </head>
  <body>
    <p>If you are not redirected automatically, follow this <a href="/web/index.html">link to the static site</a>.</p>
  </body>
</html>
